.yellow {
    background-color: #fff499;
}

#lastname {
    font-weight: bold;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    border-style: solid;
    border-radius: 5px;
    border-color: purple;
    padding: 5px;
    text-align: center;
}

.centered{
    text-align: center;
}

p {
    text-align: center;
    color: purple;
    font-weight: bold;
    font-size: 16px
}